/* For when a card-container is NOT active */
.carousel {
  position: relative;
  width: 23rem;
  height: 23rem;
  margin-bottom: 6rem;
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: 
    rotateY(calc(var(--offset) * 50deg)) 
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.carousel-card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: hsl(0deg, 0%, calc(120% - var(--abs-offset) * 50%));
  border-radius: 2rem;
  color: black;
  text-align: justify;
  transition: all 0.3s ease-out;
}

.carousel-nav {
  font-size: 5rem;
  position: absolute;
  width: 56px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -30%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  transition: all ease-in-out 500ms;

  &.left {
    left:0;
    transform: translateX(100%) translateY(-50%) rotate(180deg);
  }
  
  &.right {
    right: 0;
    transform: translateX(-100%) translateY(-50%);
  }
}

.carousel-nav:hover {
  filter: drop-shadow(0 0 15px #FFF);
}

@media screen and (min-width: 640px) {
  .carousel-nav {
    width: 64px;
  }
}

@media screen and (min-width: 836px) {
  .carousel-nav {
    width: 64px;
    top: 50%;
    
    &.left {
      left: -80%;
      transform: translateX(100%) translateY(-50%) rotate(180deg);
    }
    
    &.right {
      right: -80%;
      transform: translateX(-100%) translateY(-50%);
    }
  }
}